.card-title {
    padding: 5px;
    font-size: xx-large;
}
.card {
    margin: 15px 0;
}
.body-actions {
    padding: 10px 0;
}
.title {
    display: flex;
    align-items: center;
    padding: 10px;
}
.align {
    display: flex;
    margin-left: auto;
}